# **_Feature Scaling_**

# **_Normalization (Minâ€“Max Scaling) - Range lies between [0, 1] or [-1, 1]._**

##     **_formula = X - min(X) / max(X) - min(X)_**

# **_Standardization (Z-score Scaling) - mean 0, std 1, no fixed bounds._**

##     **_formula = X - mean(X) / Std_**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/500hits.csv', encoding='latin-1')

In [3]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [5]:
df = df.drop(columns=['PLAYER', 'CS'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YRS     465 non-null    int64
 1   G       465 non-null    int64
 2   AB      465 non-null    int64
 3   R       465 non-null    int64
 4   H       465 non-null    int64
 5   2B      465 non-null    int64
 6   3B      465 non-null    int64
 7   HR      465 non-null    int64
 8   RBI     465 non-null    int64
 9   BB      465 non-null    int64
 10  SO      465 non-null    int64
 11  SB      465 non-null    int64
 12  BA      465 non-null    float64
 13  HOF     465 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 51.0 KB

In [7]:
df.describe().round()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0
mean,17.0,2049.0,7511.0,1150.0,2170.0,381.0,79.0,201.0,894.0,784.0,847.0,196.0,0.0,0.0
std,3.0,354.0,1294.0,290.0,424.0,96.0,49.0,144.0,486.0,327.0,489.0,182.0,0.0,0.0
min,11.0,1331.0,4981.0,601.0,1660.0,177.0,3.0,9.0,0.0,239.0,0.0,7.0,0.0,0.0
25%,15.0,1802.0,6523.0,936.0,1838.0,312.0,41.0,79.0,640.0,535.0,436.0,63.0,0.0,0.0
50%,17.0,1993.0,7241.0,1104.0,2076.0,366.0,67.0,178.0,968.0,736.0,825.0,137.0,0.0,0.0
75%,19.0,2247.0,8180.0,1296.0,2375.0,436.0,107.0,292.0,1206.0,955.0,1226.0,285.0,0.0,1.0
max,26.0,3308.0,12364.0,2295.0,4189.0,792.0,309.0,755.0,2297.0,2190.0,2597.0,1406.0,0.0,2.0

In [23]:
X1 = df.iloc[:, 0:13] # rows, columns [0:13 or : all columns]

In [17]:
X2 = df.iloc[:, 0:13]

In [18]:
from sklearn.preprocessing import StandardScaler

In [26]:
scaleStandard = StandardScaler()

In [27]:
X1 = scaleStandard.fit_transform(X1)

In [28]:
X1 = pd.DataFrame(X1, columns=['YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'BA'])
# Column names are reassigned because sklearn transformers return NumPy arrays, which do not retain column names.

In [29]:
X1.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,2.516295,2.786078,3.034442,3.787062,4.764193,3.559333,4.389485,-0.585841,-0.346449,1.423013,-1.003628,3.832067,3.648290
1,1.792237,2.760655,2.677044,2.760530,3.444971,3.569709,1.996457,1.909487,2.175837,2.493089,-0.309948,-0.649080,1.996159
2,1.792237,2.091184,2.075964,2.528955,3.171214,4.264876,2.909053,-0.585841,-0.350567,1.826585,-1.283965,1.299723,2.657012
3,1.068180,1.972543,2.849554,2.670665,3.055576,1.691719,-0.254611,0.410896,0.858071,0.912434,2.030966,0.892346,1.004881
4,1.430208,2.099658,2.257758,2.024329,2.972977,2.687780,3.517449,-0.697364,-1.841290,0.548609,-1.065016,2.896201,1.901752

In [31]:
X1.describe().round().T

     count  mean  std  min  25%  50%  75%  max
YRS  465.0  -0.0  1.0 -2.0 -1.0 -0.0  1.0  3.0
G    465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
AB   465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
R    465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
H    465.0   0.0  1.0 -1.0 -1.0 -0.0  0.0  5.0
2B   465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
3B   465.0  -0.0  1.0 -2.0 -1.0 -0.0  1.0  5.0
HR   465.0  -0.0  1.0 -1.0 -1.0 -0.0  1.0  4.0
RBI  465.0   0.0  1.0 -2.0 -1.0  0.0  1.0  3.0
BB   465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
SO   465.0  -0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0
SB   465.0   0.0  1.0 -1.0 -1.0 -0.0  0.0  7.0
BA   465.0   0.0  1.0 -2.0 -1.0 -0.0  1.0  4.0

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
scaleMinMax = MinMaxScaler(feature_range=(0, 1))

In [35]:
X2 = scaleMinMax.fit_transform(X2)

In [36]:
X2 = pd.DataFrame(X2, columns=['YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'BA'])

In [37]:
X2.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,0.866667,0.861912,0.874035,0.971074,1.000000,0.889431,0.954248,0.144772,0.316064,0.517683,0.137466,0.632595,1.000000
1,0.733333,0.857360,0.811459,0.795750,0.778964,0.891057,0.568627,0.624665,0.849369,0.697078,0.268002,0.050751,0.708333
2,0.733333,0.737481,0.706217,0.756198,0.733096,1.000000,0.715686,0.144772,0.315194,0.585341,0.084713,0.303788,0.825000
3,0.600000,0.716237,0.841663,0.780401,0.713721,0.596748,0.205882,0.336461,0.570744,0.432086,0.708510,0.250893,0.533333
4,0.666667,0.738998,0.738047,0.670012,0.699881,0.752846,0.813725,0.123324,0.000000,0.371092,0.125915,0.511079,0.691667

In [38]:
X2.describe().round()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
count,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0,465.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0