# **_Label Encoder_**

In [1]:
import pandas as pd

In [2]:
d = {'gender': ['Male', 'Female', 'Male', 'Female', 'Male']}

In [3]:
df = pd.DataFrame(data=d)

In [4]:
df.head()

   gender
0    Male
1  Female
2    Male
3  Female
4    Male

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
enc_gender = le.fit_transform(df['gender'])

In [9]:
enc_gender

array([1, 0, 1, 0, 1])

In [10]:
le.classes_

array(['Female', 'Male'], dtype=object)

In [12]:
df['gender'] = enc_gender

In [13]:
df.head()

   gender
0       1
1       0
2       1
3       0
4       1