# **_Train-Test-Split_**

In [2]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.10.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.3.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: C:\Users\dell\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('../Data/500hits.csv', encoding='latin-1')

In [6]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

* **_PLAYER – Player name_**
* **_YRS – Number of years played_**
* **_G – Games played_**
* **_AB – At-bats**_
* **_R – Runs scored_**
* **_H – Hits_**
* **_2B – Doubles (2-base hits)_**
* **_3B – Triples (3-base hits)_**
* **_HR – Home runs_**
* **_RBI – Runs Batted In (runs scored because of the player’s hit)_**
* **_BB – Walks (Base on Balls)_**
* **_SO – Strikeouts_**
* **_SB – Stolen bases_**
* **_CS – Caught stealing_**
* **_BA – Batting Average (Hits ÷ At-bats)_**
* **_HOF – Hall of Fame status_**

# **_Find out - Hall of Fame status_**

In [7]:
X = df.drop(columns=['PLAYER', 'HOF'])

In [8]:
y = df['HOF']

In [9]:
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [10]:
X.shape

(465, 14)

In [11]:
y.shape

(465,)

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: HOF, dtype: int64

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)
# random_state fixes the randomness so that the same random sample is generated in every iteration.
# test_size decides how much data goes to the test

In [14]:
print(f"X:{X.shape} | X_train:{X_train.shape} | X_test:{X_test.shape}")

X:(465, 14) | X_train:(372, 14) | X_test:(93, 14)

In [15]:
print(f"y:{y.shape} | y_train:{y_train.shape} | y_test:{y_test.shape}")

y:(465,) | y_train:(372,) | y_test:(93,)

In [16]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 372 entries, 46 to 102
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YRS     372 non-null    int64
 1   G       372 non-null    int64
 2   AB      372 non-null    int64
 3   R       372 non-null    int64
 4   H       372 non-null    int64
 5   2B      372 non-null    int64
 6   3B      372 non-null    int64
 7   HR      372 non-null    int64
 8   RBI     372 non-null    int64
 9   BB      372 non-null    int64
 10  SO      372 non-null    int64
 11  SB      372 non-null    int64
 12  CS      372 non-null    int64
 13  BA      372 non-null    float64
dtypes: float64(1), int64(13)
memory usage: 43.6 KB

In [17]:
X_train.describe()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000,372.000000
mean,17.010753,2048.526882,7514.346774,1147.586022,2168.067204,381.255376,77.854839,197.887097,877.158602,780.892473,834.672043,195.032258,56.645161,0.288444
std,2.836020,359.608872,1293.124126,291.286912,414.856385,95.678746,47.958095,144.515151,493.051874,327.974695,486.213119,180.102903,46.660244,0.020682
min,11.000000,1331.000000,5472.000000,601.000000,1660.000000,177.000000,8.000000,14.000000,0.000000,239.000000,0.000000,8.000000,0.000000,0.246000
25%,15.000000,1798.750000,6531.500000,933.250000,1841.000000,313.000000,40.000000,75.000000,613.250000,527.000000,431.750000,59.750000,21.750000,0.273000
50%,17.000000,1988.000000,7221.000000,1099.000000,2076.500000,366.000000,66.500000,170.000000,963.000000,725.000000,787.000000,140.500000,51.000000,0.287000
75%,19.000000,2257.500000,8184.250000,1299.250000,2354.500000,436.250000,108.000000,291.000000,1207.250000,952.750000,1197.250000,285.000000,84.000000,0.299250
max,26.000000,3308.000000,12364.000000,2295.000000,3771.000000,792.000000,252.000000,755.000000,2297.000000,2190.000000,2597.000000,1406.000000,335.000000,0.358000

In [18]:
X_train.describe().round()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0,372.0
mean,17.0,2049.0,7514.0,1148.0,2168.0,381.0,78.0,198.0,877.0,781.0,835.0,195.0,57.0,0.0
std,3.0,360.0,1293.0,291.0,415.0,96.0,48.0,145.0,493.0,328.0,486.0,180.0,47.0,0.0
min,11.0,1331.0,5472.0,601.0,1660.0,177.0,8.0,14.0,0.0,239.0,0.0,8.0,0.0,0.0
25%,15.0,1799.0,6532.0,933.0,1841.0,313.0,40.0,75.0,613.0,527.0,432.0,60.0,22.0,0.0
50%,17.0,1988.0,7221.0,1099.0,2076.0,366.0,66.0,170.0,963.0,725.0,787.0,140.0,51.0,0.0
75%,19.0,2258.0,8184.0,1299.0,2354.0,436.0,108.0,291.0,1207.0,953.0,1197.0,285.0,84.0,0.0
max,26.0,3308.0,12364.0,2295.0,3771.0,792.0,252.0,755.0,2297.0,2190.0,2597.0,1406.0,335.0,0.0

In [19]:
X_test.describe().round()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0
mean,17.0,2049.0,7500.0,1161.0,2179.0,380.0,81.0,214.0,963.0,794.0,899.0,199.0,64.0,0.0
std,2.0,335.0,1305.0,284.0,462.0,100.0,55.0,140.0,454.0,327.0,500.0,190.0,53.0,0.0
min,11.0,1332.0,4981.0,667.0,1666.0,186.0,3.0,9.0,0.0,311.0,15.0,7.0,0.0,0.0
25%,16.0,1823.0,6503.0,961.0,1804.0,308.0,45.0,97.0,779.0,553.0,478.0,83.0,27.0,0.0
50%,17.0,2002.0,7297.0,1117.0,2055.0,371.0,71.0,206.0,976.0,760.0,852.0,128.0,58.0,0.0
75%,19.0,2215.0,8136.0,1284.0,2416.0,436.0,97.0,299.0,1183.0,965.0,1278.0,251.0,90.0,0.0
max,24.0,3035.0,11434.0,2246.0,4189.0,724.0,309.0,548.0,1922.0,2019.0,1916.0,938.0,307.0,0.0